html, body {
    height: 100%;
}

body {
    font-family: Arial Black, Arial Black, Gadget, sans-serif;
}

main {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

section {
    flex: 1;
    height: 100%;
}

h1 {
    background-color: #3AA5DC;
    color: #3BE8B0;
    text-transform: uppercase;
}

h3,
h6 {
    display: block;
    color: #FBB034;
}

h6 {
    display: inline;
}

input {
    margin: 0 auto;
    width: 90%;
    height: 25px;
    border-radius: 5%;
    border: 2px solid salmon;
    margin-bottom: 30px;
}

.add-button {
    position: absolute;
    top: 3px;
    right: 10%;
    width: 25px;
    height: 25px;
    margin: 0 auto;
    border: transparent;
    background: mistyrose;
    font-size: 20px;
    line-height: 0.8;
    opacity: 0.4;
    transition: all 0.2s;
}

.add-button:hover {
    opacity: 1;
}

.symbol-input {
    position: relative;
}

.symbol-action {
    margin-bottom: 10px;
}

.get-button,
.clear-button,
.remove-button,
.print-button {
    border-radius: 50%;
    background: #EF5734;
    border: transparent;
    box-shadow: 0 0 1px 1px #A1A1A4;
}

.remove-button {
    background: darkorange;
}

.get-button {
    background: lightblue;
}

.print-button {
    background: lavender;
}

#print {
    display: none;
}

.symbols {
    border-top: 1px solid #C4DFF6;
}

.output-section {
    border-left: 2px solid #C4DFF6;
    min-height: 100%;
}

.result-array {
    display: flex;
    font-size: 20px;
    border: 2px solid crimson;
    text-align: center;
    box-shadow: 0 0 1px 1px mediumslateblue;
    margin: 10px;
    flex-wrap: wrap;
    position: relative;
}

.result-array-item {
    flex: 1 0 50%;
}

.warning-message {
    visibility: hidden;
    color: #E42313;
}

@media print {
    body * {
        visibility: hidden;
    }
    .output-section,
    .output-section * {
        visibility: visible;
    }
    .output-section {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
    }
}