.tag-post-link {
  display: inline-block;
  font-size: 18px;
  margin-right: 32px;
}

a.post-tag{
  background: rgba(106,159,181,0.15);
  padding: 0 .5rem;
  margin-right: .5rem;
  border-radius: 4px;
  text-decoration: none;
  color: #6a9fb5;
}