body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  position: relative;
}

.tag-post-link {
  display: inline-block;
  font-size: 18px;
  margin-right: 32px;
}

a.post-tag{
  background: rgba(106,159,181,0.15);
  padding: 0 .5rem;
  margin-right: .5rem;
  border-radius: 4px;
  text-decoration: none;
  color: #6a9fb5;
}

.trigger {
  padding: 0 1rem;
}

.site-nav a.page-link:hover {
  text-decoration: none;
  color: $brand-color;
}

a.site-title:hover {
  text-decoration: none;
  color: $grey-color-dark;
}

.site-header {
  border-top: none; 
}

.page-navigation {
  font-size: 14px;
  display: block;
  width: auto;
  overflow: hidden;

  a {
    display: block;
    width: 50%;
    float: left;
    margin: 1em 0;
  }

  .next {
    text-align: right;
  }

}

.post-excerpt p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 24px;
  margin-bottom: 0;
}

 @include media-query($on-palm) {
    .page-content {
      padding-top: 60px;
    }

   .site-header {
     z-index: 10;
     position: fixed;
     width: 100%;
     background: linear-gradient(to top, transparent, rgba(255,255,255, 0.8) 20%, #fff);
   }

   .site-nav {
     z-index: 11;
     max-width: 36px;
     max-height: 36px;
     transition: all 0.5s;
     overflow: hidden;
     background: #fff;

     &.is-expanded {
        max-width: 100px;
        max-height: 200px;
     }
   }
 }



 .pagination-wrapper {
  text-align: center;
}

.pagination {
  display: inline-block;
  margin: 0 0 2rem;
}

.pagination a,
.pagination span {
  border-radius: 3px;
  float: left;
  height: 36px;
  line-height: 36px;
  width: 30px;
}

a.pagination-step,
span.pagination-step {
  padding: 0 10px;
  width: auto;
}

.pagination-first,
.pagination-last,
.pagination-more, {
  display: none;
}

.pagination .active {
  background: #ddd;
  color: #fff;
}

@media (min-width: 38em) {
  .pagination-first,
  .pagination-last,
  .pagination-more {
    display: block;
  }

  a.pagination-step,
  span.pagination-step {
    padding: 0 15px;
    width: auto;
  }
}