.tag-post-link {
  display: inline-block;
  font-size: 18px;
  margin-right: 32px;
}

a.post-tag{
  background: rgba(106,159,181,0.15);
  padding: 0 .5rem;
  margin-right: .5rem;
  border-radius: 4px;
  text-decoration: none;
  color: #6a9fb5;
}

.trigger {
  padding: 0 1rem;
}

.site-nav a.page-link:hover {
  text-decoration: none;
  color: $brand-color;
}

a.site-title:hover {
  text-decoration: none;
  color: $grey-color-dark;
}

.site-header {
  border-top: none; 
}

.page-navigation {
  font-size: 14px;
  display: block;
  width: auto;
  overflow: hidden;

  a {
    display: block;
    width: 50%;
    float: left;
    margin: 1em 0;
  }

  .next {
    text-align: right;
  }

}


