@import "https://unpkg.com/open-props/easings.min.css";

[data-theme="light"] {
	--color-bg: #f6f6f2;
	--color-h: #6fb3b8;
	--color-t: #388087;
	--color-c: #f2f2f2;
}

[data-theme="dark"] {
	--color-bg: #2c3132;
	--color-h: #d59b94;
	--color-t: #93b7bb;
	--color-c: #664542;
}

/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */
body {
	font-family: Verdana, sans-serif;
	margin: auto;
	padding: 20px;
	max-width: 65ch;
	text-align: left;
	word-wrap: break-word;
	overflow-wrap: break-word;
	line-height: 1.5;
	background-color: var(--color-bg);
  	color: var(--color-t);
}
h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
	color: var(--color-h);
}
a {
	color: var(--color-h);
}
nav a {
	margin-right: 10px;
}
textarea {
	width: 100%;
	font-size: 16px;
}
input {
	font-size: 16px;
}
content {
	line-height: 1.6;
}
table {
	width: 100%;
}
img {
	max-width: 100%;
	height: auto;
}
code {
	padding: 2px 5px;
	background-color: var(--color-c);
}
pre {
	padding: 1rem;
}
pre > code {
	all: unset;
}
blockquote {
	border: 1px solid #999;
	color: #222;
	padding: 2px 0px 2px 20px;
	margin: 0px;
	font-style: italic;
}

/*
Toggle button animation from https://web.dev/patterns/theming/theme-switch/
*/

.theme-toggle {
--size: 2rem;
--icon-fill: hsl(210 10% 30%);
--icon-fill-hover: hsl(210 10% 15%);

background: none;
border: none;
padding: 0;

inline-size: var(--size);
block-size: var(--size);
aspect-ratio: 1;
border-radius: 50%;

cursor: pointer;
touch-action: manipulation;
-webkit-tap-highlight-color: transparent;

outline-offset: 5px;

& > svg {
	inline-size: 100%;
	block-size: 100%;
	stroke-linecap: round;
}



	@media (hover: none) {
		--size: 48px;
	}
}

[data-theme="dark"] .theme-toggle {
	--icon-fill: hsl(100 10% 90%);
	--icon-fill-hover: hsl(100 15% 90%);
}
		
.sun-and-moon > :is(.moon, .sun, .sun-beams) {
	transform-origin: center;
}

.sun-and-moon > :is(.moon, .sun) {
	fill: var(--icon-fill);
}

.theme-toggle:is(:hover, :focus-visible) > .sun-and-moon > :is(.moon, .sun) {
	fill: var(--icon-fill-hover);
}

.sun-and-moon > .sun-beams {
	stroke: var(--icon-fill);
	stroke-width: 2px;
}

.theme-toggle:is(:hover, :focus-visible) .sun-and-moon > .sun-beams {
	stroke: var(--icon-fill-hover);
}

[data-theme="dark"] .sun-and-moon > .sun {
	transform: scale(1.75);
}

[data-theme="dark"] .sun-and-moon > .sun-beams {
	opacity: 0;
}

[data-theme="dark"] .sun-and-moon > .moon > circle {
	transform: translateX(-7px);
}
		
@supports (cx: 1) {
	[data-theme="dark"] .sun-and-moon > .moon > circle {
	cx: 17;
	transform: translateX(0);
	}
}

@media (prefers-reduced-motion: no-preference) {
	.sun-and-moon > .sun {
	transition: transform .5s var(--ease-elastic-3);
	}

	.sun-and-moon > .sun-beams {
	transition: transform .5s var(--ease-elastic-4), opacity .5s var(--ease-3);
	}

	.sun-and-moon .moon > circle {
	transition: transform .25s var(--ease-out-5);
	}

	@supports (cx: 1) {
	.sun-and-moon .moon > circle {
		transition: cx .25s var(--ease-out-5);
	}
	}

	[data-theme="dark"] .sun-and-moon > .sun {
	transition-timing-function: var(--ease-3);
	transition-duration: .25s;
	transform: scale(1.75);
	}

	[data-theme="dark"] .sun-and-moon > .sun-beams {
	transition-duration: .15s;
	transform: rotateZ(-25deg);
	}

	[data-theme="dark"] .sun-and-moon > .moon > circle {
	transition-duration: .5s;
	transition-delay: .25s;
	}
}
  
