.post {
  width: 40rem;
  margin: 0 auto 2rem;

  @include tablet {
    width: 100%;
  }
}

.posts__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.post__meta {
  font-size: 0.875rem;
  font-style: italic;
  color: #1098ad;
}

.post__link {
  display: block;
  font-size: 1.5rem;
  padding-top: 0.5rem;
}

.post__tag {
  background: #495057;
  color: #fff;
  padding: 3px;
  border-radius: 5px;
  margin-left: 5px;
}