.footer {
  border-top: 1px solid #ced4da;
  width: 100%;
  max-width: 80%;
  margin: 2rem auto 0;
  padding: 1rem 0;
}

.footer__title {
  text-align: center;
  margin-bottom: 1rem;
}

.footer__links {
  display: flex;
  justify-content: center;
}

.footer__link {
  padding: 0 0.5rem;
}