---
layout: home
---

<article class="post" itemscope="" itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{page.title}}</h1>
    <p class="post-meta"><time datetime="2016-04-08T00:00:00-04:00" itemprop="datePublished">{{page.date| date: "%b %-d, %Y"}}</time></p>
    {% if page.tags %}  
      {% for tag in page.tags %}
        <a href="{{ site.baseurl }}{{ site.tag_page }}#{{ tag | slugify }}" class="post-tag">{{ tag }}</a>
      {% endfor %}
    {% endif %}


  </header>

  <div class="post-content" itemprop="articleBody">
    {{content}}
  </div>

  
</article>

<div class="page-navigation">
  {% if page.previous.url %}
    <a class="prev" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
  {% endif %}
  {% if page.next.url %}
    <a class="next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
  {% endif %}
</div>
