html {
  font-size: 16px;
  line-height: 1.9;

  @include mobile {
    font-size: 14px;
  }
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f8f9fa;
}

h1 {
  color: #333;
}

h2 {
  color: #343a40;
}

h3, h4, h5, h6 {
  color: #212529;
}

p, div {
  color: #000;
}

a,
a:active,
a:visited {
  color: #1b6ec2;
  text-decoration: none;
}

blockquote {
  margin: 0;
  padding: 1rem 2rem;
  border-left: 2px solid #495057;
  background-color: #dee2e6;
}

ol, ul {
  padding: 0;
}

@include mobile {
  li {
    margin-bottom: 5px;
    margin-left: 16px;
  }
}

.container {
  margin: 0 auto;
  min-width: 40rem;
  width: 60%;

  @include tablet {
    width: 80%;
    min-width: auto;
  }

  @include mobile {
    width: 90%;
  }
}

img {
  display: block;
  margin: 1rem auto;
  max-width: 500px;
}