---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

export interface Props {
  content: {
    title: string;
    description: string;
    pubDate?: string;
    updatedDate?: string;
    heroImage?: string;
  };
}

const {
  content: { title, description, pubDate },
} = Astro.props;
---

<html lang="en" data-theme="dark" transition:animate="none">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body>
    <Header />
    <main>
      <article>
        <h1 class="title" transition:name="title" transition:animate="slide">{title}</h1>
        {pubDate && <time>{pubDate}</time>}
        <hr />
        <slot />
      </article>
    </main>
    <Footer />
  </body>
</html>
